.contact-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  margin: 1.5rem 0;

  button {
    background-color: #eee;
    color: #f11;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #f11;
    padding: 0.5rem 1.5rem;
    transition: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: #f11;
    color: white;
  }
}

.search {
  margin: 20px auto;
  width: 100%;

  label {
    margin: 0 20px;
  }

  input {
    padding: 10px 20px;
  }
}
